extends layout

block content
  h1= title
  - var results = results
  div(class="container-fluid")
  div(class="row")
   each r,index  in results 
    div(class="col-sm-2" onclick =`buy(${index})`) #{r.name}, #{r.No_of_songs}, #{r.type}
  script.
    function buy(index) {
      alert(`You purchased item ${index+1}.`);
    }