extends layout

block content
  h1= title
  - var results = results || []  // Ensure 'results' is defined and not undefined
  .container-fluid
    .row.m-1
      each r, index in results
        - let destination = `/music/update?id=${r._id}`  // Simplify the destination
        div(class="row-sm-2", class="m-1") Item #{item.name}(#{item.No_of_songs}) is #{item.type}
          button.btn( class="btn-primary ml-1", onclick= destination) Update  
    script.
     function buy(index) {
      alert(You purchased item ${index+1}.)
      }
    
     function dispatch(path) {
      window.location.href = path
      }

