extends layout
block content
    h1= title
    - let musicid = toShow._id
    - let name = toShow.name
    - let No_of_songs = toShow.No_of_songs
    - let type = toShow.type
    div
        div.row
            div(class='musicAttr mr-3') music ID is:
            div #{musicid}
        div.row
            div(class='musicAttr mr-3') music Type is:
            div #{name}
        div.row
            div(class='musicAttr mr-3') music Size is:
            div #{No_of_songs}
        div.row
            div(class='musicAttr mr-3') music Cost is:
            div #{type}