extends layout

block content
  h1= title
  - var results = results || []  // Ensure 'results' is defined and not undefined
  div(class="container-fluid")
    div(class="row m-1")
      each item, index in results
        - let destination = `dispatch(\"/music/update?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") #{item.name}(#{item.No_of_songs})  #{item.type}
          button.btn( class="btn-primary ml-1", onclick= destination) Update  
    script.
     function buy(index) {
      alert(You purchased item ${index+1}.)
      }
    
     function dispatch(path) {
      window.location.href = path
      }
